.input-focus-glow {
  background: #f3f6fd;
  transition: box-shadow 0.3s ease;
  outline: none;
}

.input-focus-glow:focus {
  box-shadow: 0 0 10px #8f94fb;
}
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
